@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background: #6c6bb2;
}
.container{
    width: 60rem;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-list{
    width: 40%;
    height: 100%;
    background: #514685;
    display: flex;
    flex-direction: column;
    position: relative;

}